

html {
    padding: 20px;
    margin: 60px;
    margin-bottom: 40px;
    margin-top: 15px;
}

body {
    margin: 10px;
    background: darkgray;
}

.colour {
    padding: 20% 50%;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}


.round {
    border-radius: 50%;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.btn-selected {
/* background-color: rgba(255, 0, 0, 0.5); */
opacity: 0.5;
}

.game {
    background: #e2e2e2;;
    padding: 30px;
    padding-right: 7%;
    border-style: solid;
    border-color: black;
    
}

.start {
    background-color: #e61c1c;
}

#audio {
    display: none;
}


.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #ffffff;
}

.score {
    padding: 10px;
    background-color: #a5d61a57;
    border-style: dashed;
    border-color: blueviolet;
}

